@import "variables";

* {
  box-sizing: border-box;
}

.nav-link.btn,
.nav-link.btn:focus,
.nav-link.btn:active {
  outline: none;
  border: none;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

.dropdown-item:active {
  background: transparent;
}

.pack {
  min-width: 20rem;
  text-overflow: ellipsis;
  .label {
    width: max-content;
    max-width: 100%;
    margin: auto;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    overflow: hidden;
    white-space: nowrap;
  }
  .label:focus {
    overflow: visible;
    white-space: normal;
  }
}

.sense {
  counter-reset: section;
  .card-text {
    margin-left: 1.5rem;
  }
  .card-text::before {
    content: counter(section) ". \00a0\00a0";
    white-space: wrap;
    counter-increment: section;
  }
}

.form-control:focus {
  border-color: #cccccc;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.note {
  min-width: 100%;
  padding: 0;
}
// p element has to be completely empty
.note:empty:not(:focus)::before {
  content: attr(data-placeholder);
  font-style: italic;
}

// Display update/edit button on function
.update {
  display: none;
}
.edit {
  display: flex;
}
.editing {
  .update {
    display: flex;
    justify-content: center;
  }
  .edit {
    display: none;
  }
}
// Removes horid blue border after update for ios
.note:not(:focus)[contenteditable] {
  outline: 0px solid transparent;
}

@media (max-width: 991.98px) {
  .add {
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .pack {
    min-width: 100%;
  }
  .back {
    display: none;
  }
}
