@import "variables";

* {
  box-sizing: border-box;
}

.container:not(.nav) {
  animation: fadeIn 1s;
}

.pack {
  text-align: center;
  .label {
    font-size: 1.6rem;
    width: max-content;
    max-width: 100%;
    margin: auto;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    overflow: hidden;
    white-space: nowrap;
  }
  .label:focus {
    overflow: visible;
    white-space: normal;
  }
}

.sense {
  counter-reset: section;
  .card-text {
    margin: 0;
    margin-left: 1.5rem;
    margin-bottom: 0.3rem;
  }
  .card-text::before {
    content: counter(section) ". ";
    position: absolute;
    left: 1rem;
    white-space: wrap;
    counter-increment: section;
  }
}

.form-control:focus {
  border-color: #cccccc;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.note {
  min-width: 100%;
  padding: 0;
}
// p element has to be completely empty
.note:empty:not(:focus)::before {
  content: attr(data-placeholder);
  font-style: italic;
}

// Display update/edit button on function
.update {
  display: none;
}
.edit {
  display: flex;
}
.editing {
  .update {
    display: flex;
    justify-content: center;
  }
  .edit {
    display: none;
  }
}
// Removes horid blue border after update for ios
.note:not(:focus)[contenteditable] {
  outline: 0px solid transparent;
}
.word {
  h5 {
    max-width: 100%;
  }
  .card-header {
    flex-wrap: wrap;
  }
}

.error {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

// Media queries
@media (max-width: 1200px) {
  .pack {
    min-width: 50%;
  }
}
@media (max-width: 768px) {
  .pack {
    min-width: 100%;
  }
  .back {
    display: none;
  }
  .control input {
    min-width: 100%;
  }
  .control {
    flex-wrap: wrap;
    button {
      margin-top: 0.5rem;
    }
  }
}

// Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
