* {
  box-sizing: border-box;
}

.container:not(.nav) {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.pack {
  min-width: 20rem;
  text-overflow: ellipsis;
}

.pack .label {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin: auto;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  overflow: hidden;
  white-space: nowrap;
}

.pack .label:focus {
  overflow: visible;
  white-space: normal;
}

.sense {
  counter-reset: section;
}

.sense .card-text {
  margin: 0;
  margin-left: 1.5rem;
  margin-bottom: 0.3rem;
}

.sense .card-text::before {
  content: counter(section) ". ";
  position: absolute;
  left: 1rem;
  white-space: wrap;
  counter-increment: section;
}

.form-control:focus {
  border-color: #cccccc;
  box-shadow: 0 0 10px #ccc;
}

.note {
  min-width: 100%;
  padding: 0;
}

.note:empty:not(:focus)::before {
  content: attr(data-placeholder);
  font-style: italic;
}

.update {
  display: none;
}

.edit {
  display: flex;
}

.editing .update {
  display: flex;
  justify-content: center;
}

.editing .edit {
  display: none;
}

.note:not(:focus)[contenteditable] {
  outline: 0px solid transparent;
}

.word h5 {
  max-width: 100%;
}

.word .card-header {
  flex-wrap: wrap;
}

.error {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@media (max-width: 1200px) {
  .pack {
    min-width: 50%;
  }
}

@media (max-width: 768px) {
  .pack {
    min-width: 100%;
  }

  .back {
    display: none;
  }

  .control input {
    min-width: 100%;
  }

  .control {
    flex-wrap: wrap;
  }

  .control button {
    margin-top: 0.5rem;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

